body{
background-color:purple;
font-style:calibri;
font-size:25px;
font-style:italic;
}
h3{
    color:aqua
}
.name
{
color:yellow;
font-family:calibri;
font-wieght:bold;
font-style:italic;
font-size:25px;
background-color:blue;
text-align:center;
height:300px;
}
#hello
{
color:red;
font-family:calibri;
font-wieght:bold;
font-style:italic;
font-size:25px;
text-align:center;
vertical-aligh:top;
background-color:gray;
text-transform:capitalize;
height:300px
}